* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

/* Typography */

h1 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.2rem;
}

.star-text {
    font-size: .9rem;
    margin-left: .5em;
    font-weight: 400;
}

.movie-types {
    margin: 0 1em;
}

/* Layout */

header {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin: 0;
}

.btn-search {
    cursor: pointer;
    max-height: 100%;
    background-color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 1em 3em;
    border-left: 1px solid #7c7c7c;
    transition: .3s;
}

.btn-search:hover, .btn-search:focus {
    background-color: #585858;
    color: white;
}

.container {
    position: relative;
}

.search-bar {
    background-color: white;
    position: absolute;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    top: 85%;
    left: 25%;
}

.film-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d5d5d5;
}

.film-container p {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    margin-top: .3em;
    margin-bottom: 10em;
}

.fa-film {
    font-size: 8rem;
}

.film-container .no-data-text {
    color: #d5d5d5;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1em;
}

.watchlist-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.watchlist-container p {
    font-size: 1.5rem;
    color: #d5d5d5;
}

.watchlist-text {
    margin-left: .5em;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    color: black;
}

.watchlist-container .watchlist {
    margin-bottom: 10em;
}

.movie {
    display: flex;
    margin: 3em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #1f1f1f24;
}

.movie-text {
    margin-left: 1.5em;
}

.watchlist {
    margin-right: .3em;
}

.btn-watchlist {
    cursor: pointer;
    border: none;
    background: white;
    font-weight: 400;
}

.btn-watchlist:focus, .btn-watchlist:hover {
    text-decoration: underline;
}

/* Colors */

a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

a:focus, a:hover {
    color: #585858;
}

input {
    width: 70%;
    font-size: .82rem;
    margin-left: 1em;
    padding: 0;
    border: none;
}

input:focus {
    outline: none;
}

.search-bar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.movie {
    color: black;
}

.movie-desc {
    color: #585858;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.star {
    color: gold;
}

.fa-magnifying-glass {
    width: 100%;
    color: #7c7c7c;
    margin: auto 0;
    padding: .5em 2em .5em 1em;
}

/* images */

header {
    background: 
        linear-gradient(
          rgba(0, 0, 0, 0.85), 
          rgba(0, 0, 0, 0.85)
        ),
        url(./images/header.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 25%;
}

img {
    max-width: 150px;
    max-height: 200px;
}

/* Media Query */

@media(max-width: 800px) {
    .movie-desc {
        font-size: 1rem;
    }
}

@media(max-width: 650px) {
    header {
        flex-direction: column;
    }

    h4 {
        font-size: 1rem;
    }

    a {
        margin-bottom: 1em;
    }


    input, p {
        font-size: .8rem;
    }

    img {
        max-width: 120px;
        max-height: 160px;
    }

    .search-bar {
        width: 85%;
        left: 8%;
    }

    input {
        width: 80%;
    }

    .fa-magnifying-glass {
        padding-right: 0;
    }

    .star-text {
        font-size: .7rem;
        margin-left: .5em;
        font-weight: 400;
    }

    .movie-desc {
        font-size: .8rem;
    }

}

@media (max-width: 575px) {
    .btn-watchlist {
        padding: 0;
    }
}

@media(max-width: 525px) {
    h4 {
        margin: 0;
    }

    .watchlist-container p {
        font-size: 1rem;
    }

    .watchlist-container .watchlist-text {
        display: inline;
        font-size: .8rem;
    }

    .watchlist-text {
        display: block;
        margin-top: 1em;
    }

    .movie-types {
        display: block;
        margin: 0;
        margin-top: 1em;
    }
}